<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Moving_Files.MovingFiles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Moving_Files.MovingFiles>
            <setting name="root_folder" serializeAs="String">
                <value>C:\Users\rvargas\Desktop\actualizador</value>
            </setting>
            <setting name="new_version_folder" serializeAs="String">
                <value>C:\Users\rvargas\Desktop\actualizador\new_version_folder</value>
            </setting>
            <setting name="official_folder" serializeAs="String">
                <value>C:\Users\rvargas\Desktop\actualizador\current_folder</value>
            </setting>
        </Moving_Files.MovingFiles>
    </userSettings>
</configuration>